<template>
  <b-row>
    <b-col v-if="loading" class="text-center" cols="12">
      <b-spinner variant="primary" label="Loading..." />
    </b-col>
    <b-col v-if="error" cols="12">
      <b-alert variant="danger" show>
        There has been an error loading users.
      </b-alert>
    </b-col>
    <b-col v-if="users" cols="12">
      <b-row>
        <b-col class="pt-5 pb-3 text-center" cols="12">
          <b-button-group>
            <button :class="{'btn btn-primary': true, 'active': !usersFilter}" @click="filterBy(null)">
              Everyone
            </button>
            <button :class="{'btn btn-primary': true, 'active': usersFilter == 'male'}" @click="filterBy('male')">
              Male
            </button>
            <button :class="{'btn btn-primary': true, 'active': usersFilter == 'female'}" @click="filterBy('female')">
              Female
            </button>
            <button :class="{'btn btn-primary': true, 'active': usersFilter == 'overThirty'}" @click="filterBy('overThirty')">
              Over 30
            </button>
            <button :class="{'btn btn-primary': true, 'active': usersFilter == 'underThirty'}" @click="filterBy('underThirty')">
              Under 30
            </button>
          </b-button-group>
        </b-col>
        <b-col cols="12">
          <b-table striped hover :items="users" :fields="fields" />
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {
          key: 'name',
          label: 'Name'
        },
        {
          key: 'age',
          label: 'Age'
        }
      ]
    }
  },
  computed: {
    loading() {
      return this.$store.getters.loading
    },
    error() {
      return this.$store.getters.error
    },
    users() {
      return this.$store.getters.users
    },
    usersFilter() {
      return this.$store.getters.usersFilter
    }
  },
  mounted: function() {
    this.$store.dispatch('loadUsers')
  },
  methods: {
    filterBy(type) {
      this.$store.commit('setUsersFilter', type)
    }
  }
}
</script>
