<template>
  <b-container>
    <b-row>
      <b-col class="text-center" cols="12">
        <h1>Page Two</h1>
        <b-alert show>
          State of previous page is remembered.
        </b-alert>
        <b-button to="/">
          Back to main page
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>
