<template>
  <b-container>
    <UsersList />
    <b-row>
      <b-col class="text-center" cols="12">
        <b-button to="page-two">
          Go to page two
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import UsersList from '~/components/users/List.vue'

export default {
  components: {
    UsersList
  }
}
</script>
